body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.8em;
}

.container {
  color: white;
  background-color: rgb(71, 121, 161);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: auto;
  border-radius: 10%;
}


.author {
  font-weight: 800;
  color: black;
  font-size: 1.2em;
  font-style: italic;
}

#quote::before {
  content: open-quote;
  font-size: 1.6em;
}

#quote::after {
  content: close-quote;
  font-size: 1.6em;
}

button {
  margin: 10px;
  margin-top: 40px;
  padding: 20px;
  cursor: pointer;
  color: white;
  background-color: rgb(100, 69, 129);
  outline: none;
  border: none;
}
button:hover {
  box-shadow: 2px 2px 2px black;
}
